{% extends 'base.html' %}
{% load static %}
{% 	block content %}
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">Welcome </a>
  <!-- <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form> -->
  <a class="btn btn-danger" href="{% url 'homepage' %}"> login </a>
</nav>
<div class="container-fluid" style="position:relative; height: 900px; background-image: url('{% static "img/pizza.jpg" %}'); background-size: cover">
	<div style="position:absolute; top:50px; right:20px; width:500px; height:350px; background-color:orange; padding:40px" class="container">
		 <h1 style="text-align: center; color: white "> Sign Up!</h1>
		 <form>
		 	<input type="text" name="username" class="form-control" style="margin-bottom: 10px">
		 	<input type="password" name="password" class="form-control" style="margin-bottom: 10px">
		 	<input type="text" name="phone number" class="form-control" style="margin-bottom: 10px">
		 	<input type="submit" name="" class="btn btn-success" style="display:block; margin: auto; margin-top:20px">
		 </form> 
	</div> 
</div>

{% 	endblock %}